$color-primary: 		#FFA00A;
$color-secondary: 		#001F3F;
$color-white: 			#FFFFFF;
$color-grey: 			#F0F0F0;
$color-black: 			#1B1B1B;
$color-warning:			#F7FF17;
$color-alert: 			#FF1A1A;
$color-success: 		#11FF71;