$color-white: 			#FFFFFF;
$color-grey: 			#F0F0F0;
$color-black: 			#1B1B1B;
$color-red: 			#FF1A1A;
$color-fuchsia: 		#FF177A;
$color-purple: 			#711AFF;
$color-navy: 			#001F3F;
$color-blue: 			#1177FF;
$color-aqua: 			#11AAFF;
$color-lime: 			#11FF71;
$color-green: 			#77FF11;
$color-yellow: 			#F7FF17;
$color-orange: 			#FF711A;

$color-primary: 		$color-orange;
$color-accent: 			$color-blue;

$color-alert: 			$color-red;
$color-warning:			$color-yellow;
$color-success: 		$color-green;