/* ---------- Cards ---------- */

%card {
	@extend .m-large-tb, .shadow-light;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

%card-header-content {
	@extend .absolute, .bottom, .p-medium-trbl;
	z-index: 2;
}

.card {


	&-tiny, &-small, &-medium, &-large, &-max {
		@extend %card;
	}

	&-tiny { 	@extend .w-tiny; }
	&-small { 	@extend .w-small; }
	&-medium { 	@extend .w-medium; }
	&-large { 	@extend .w-large; }
	&-max { 	@extend .w-100; }

	&-header {
		@extend .relative;

		.card-title {
			@extend .absolute, .bottom, .p-medium-trbl;

			z-index: 2;
		}

		> img  {
			@extend .w-100;
		}
	}

	&-content {
		@extend .p-large-rl, .p-large-t;

		.card-title {
			@extend .m-medium-b;
		}
	}

	&-avatar {
		@extend .m-medium-r;

		display: inline-block;
		max-width: $huge;
		border-radius: 100%;
	}

	&-action {
		@extend .p-large-rl, .p-large-b, .w-100, .a-right;
			margin-top: 25px;

		a {
			color: $color-primary;
			text-decoration: none;
			text-transform: uppercase;
			padding: $small;

			&:hover {
				text-decoration: underline;
			}

		}
	}
}

@media screen and (min-width: 1100px) {
	.card {

		&-content {
			> div {
				.card-title, img {
					display: inline-block;
				}
				.card-title {
					position: absolute;
					top: 50%;
					@include transform(translateY, -50%);
				}
			}
		}
	}
}

@media screen and (max-width: 1100px)  {
	.card {
		&-content {
			> div {
				.card-title, img {
					display: block;
					margin: 0 auto $small;
				}
			}
		}
	}
}

@media screen and (max-width: 480px)  {
	.card {
		&-content {
			> div {
				.card-title, img {
					display: block;
					margin: 0 auto $small;
				}
			}
		}
	}
}