/* ---------- Cards ---------- */

%card {
	@extend .m-large-tb, .shadow-light;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

%card-header-content {
	@extend .absolute, .bottom, .p-medium-trbl;
	z-index: 2;
}

.card {
	@for $i from 1 through 6 {
		&-content > h#{$i} {
			@extend .m-medium-b;
		}
	}

	&-tiny, &-small, &-medium, &-large, &-max {
		@extend %card;
	}

	&-tiny { 	@extend .w-tiny; }
	&-small { 	@extend .w-small; }
	&-medium { 	@extend .w-medium; }
	&-large { 	@extend .w-large; }
	&-max { 	@extend .w-100; }

	&-header {
		@extend .relative;

		overflow: hidden;

		> .card-title {
			@extend .absolute, .bottom, .p-medium-trbl;

			z-index: 2;
		}

		> img  {
			@extend .w-100;
		}
	}

	&-content {
		@extend .p-large-rl, .p-large-t;

		overflow: hidden;
	}

	&-action {
		@extend .p-large-rl, .p-large-b, .w-100, .a-right;
			margin-top: 25px;

		a {
			color: $color-primary;
			text-decoration: none;
			text-transform: uppercase;
			padding: $small;

			&:hover {
				text-decoration: underline;
			}

		}
	}
}

@media screen and (min-width: 1100px) {
}

@media screen and (max-width: 1100px)  {
}

@media screen and (max-width: 480px)  {
}