/* ---------- Footer ---------- */

.footer {

		&.footer-one-line, &.footer-pushed {
			@extend .w-100, .p-large-trbl, .centered-text;
			height: $large;
			color: $color-white;
			background-color: $color-black;
		}

		.footer-one-line {
			@extend .relative;
		}

		.footer-pushed {
			@extend .absolute;
			bottom: 0;
		}

	> a {
		color: $color-white;
		text-decoration: none;

		&:hover {
			color: $color-primary;
			text-decoration: underline;
		}
	}
}

