/* ---------- Grid ---------- */

.col {
	
	&s {
		> .col, & > div, &-container > .col, &-container > div {
			@extend .f-left;
		}

		&-container {
			@extend .clearfix;
		}
	}

}

@media screen and (min-width: 1100px) {
	.col {
		@for $i from 1 through 40 {
			$col-num: str-replace(#{$i*2.5}, '.', '-');
			&.d#{$col-num} ,&s.d#{$col-num} > div {
				width: $i*2.5%;
			}
		}

		&.d33, &s.d33 > div {
			width: 33.3333%;
		}

		&.d66, &s.d66 > div {
			width: 66.6666%;
		}
	}
}

@media screen and (max-width: 1100px)  {
	.col {
		@for $i from 1 through 40 {
			$col-num: str-replace(#{$i*2.5}, '.', '-');
			&.t#{$col-num} ,&s.t#{$col-num} > div {
				width: $i*2.5%;
			}
		}

		&.t33, &s.t33 > div {
			width: 33.3333%;
		}

		&.t66, &s.t66 > div {
			width: 66.6666%;
		}
	}
}

@media screen and (max-width: 480px)  {
	.col {
		@for $i from 1 through 40 {
			$col-num: str-replace(#{$i*2.5}, '.', '-');
			&.m#{$col-num} ,&s.m#{$col-num} > div {
				width: $i*2.5%;
			}
		}

		&.m33, &s.m33 > div {
			width: 33.3333%;
		}

		&.m66, &s.m66 > div {
			width: 66.6666%;
		}
	}
}