/* ---------- Navigation ---------- */

.nav {
	> ul {
		li a, li label {
			cursor: pointer;
			color: $color-black;
			text-decoration: none;
			background-color: transparent;
			@include transition(0.5s);

			&:hover {
				color: $color-white;
				background-color: $color-primary;
				outline-color: $color-primary;
				@include transition(0.1s);
				@include transition(0.25s, outline-offset);
			}
		}
	}

	&-h {
		float: right;

		li {
			display: inline-block;
			min-width: $huge;
			text-align: center;
			line-height: $huge;
		}

		&-container {
			.signature .signature {
				&-advanced {
					display: inline-block;
					float: left;
					width: 250px;
					height: 100px;
				}
			}
		}
	}

	&-v {

		> ul > ul > li a {
			@extend .p-large-l;
		}

		a, label {
			padding-left: $medium;
			display: block;
			text-align: left;
			line-height: $large;
		}

		&-container {
			@extend .top, .left;
			z-index: 10;
			overflow-y: auto;
			display: block;

			.signature {
				@extend .o-10;
				@include transition(0.5s, opacity);

				&:hover, &:focus {
					@extend .o-5;
					@include transition( 0.1s, opacity);
				}
			}

			.signature.signature {
				&-simple img {
					@extend .p-medium-rl;
				}
			}
		}

		&-responsive.toggle-content {
			display: block;
		}

		&-opener, &-opener-responsive {
			@extend .absolute, .top, .left, .toggle-text-menu-close, .btn-cta-black;
			z-index: 11;
		}

		&-opener-responsive {
			display: none;
		}

		> .nav-sub_pages {
			padding-left: $medium;
		}
	}
	&-signature, &-logo {
		width: 100%;
	}
}

.toggle:checked ~ .toggle-content, .toggle-content-hide.nav-v-responsive {
	@include transform(translateX, 0%);
}

/* Nav logo */

.nav-v-container > .nav-signature.signature-advanced {
	display: block;
	@extend .centered;
	width: 250px;
	height: 100px;
	@include transition(0.5s, opacity);

	&:hover,
	&:focus {
		@extend .o-5;
		@include transition(0.1s, opacity);
	}
}

@media screen and (max-width: 1100px) {
	.nav-v-responsive.toggle-content {
		@include transform(translateX, -100%);
		@include transition(0.3s, transform);
	}

	.nav-v-opener-responsive {
		display: block;
	}
}

@media print and (max-width: 1100px) {
	.nav {
		display: none;
	}
}